/* Styles pour le header */
*{
    
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height: 100%;
}
header {
    background-color: #5293c2;
    color: #fff;
    padding: 10px;
    text-align: center;
}

  
header nav  {
    list-style: none;
    margin: 0;
    padding: 0;

}
  
header nav li {
    display: inline-block;
    margin-right: 20px;
    gap: 3%;
}
  
header nav a {
    color: #fff;
    text-decoration: none;
    
}
  
  /* Styles pour le contenu principal */
main {
    display: grid;
    flex-direction: center;
    align-items: center;
    padding: 0;
    background-color: rgb(244, 233, 243);
}
  
section {
    margin-bottom: 40px;
}
  

  
  /* Styles pour le pied de page */
footer {
    background-color: #5293c2;
    color: #fff;
    padding: 5px;
    text-align: center;
    clear: both;
}


.grille{
    display: grid;
    position:grid;
    grid-template-columns: 1;
    background: rosybrown;
    border: 1px solid #ddd;
    border-radius: 8px;
    filter: drop-shadow(30px 10 px 40px);
    overflow: hidden;
    text-align: center;
    padding: 1%;
    
}
.images{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    border: 1px solid #6d2222;
    filter: drop-shadow(30px 10 px 40px);
    
}
.images img{
    flex:1;
    min-width:50px;
    width: 10%;
    height: 200px;
    object-fit: cover;
}
.images img:hover{
    flex:3; 
    transform: scale(1.1);
    
}

@media (max-width: 3500px) {
    .bloc {
      flex: 1 1 100%; /* Chaque bloc prend toute la largeur sur les petits écrans */
    }
}
@media (max-width: 768px) {
    .bloc {
      flex: 1 1 calc(50% - 40px); /* Chaque bloc prend 1/2 de la largeur sur les tablettes */
    }
}
.bloc-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
}
.bloc {
    background-color: rgb(190, 197, 243);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 calc(33.33% - 40px); /* Chaque bloc prend 1/3 de la largeur moins les marges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}














