/* ================= Style global ================= */
*{
    margin:0;
    padding:0;
}

body {
    background-color: rgba(66, 61, 61, 0.83);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #5293c2;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}

h2 {
    text-align: center;
    color: rgb(19, 107, 125);
    margin-bottom: 20px;
}

ul {
    color:#37474F;
    margin: 20;
    padding: 0;
    list-style-position: inside;
}

ul li{
    font-size: 1.1em;
    line-height: 1.8;
}

b {
    color: rgb(19, 107, 125);
}

/* ================= Style Navbar ================= */

header h1 {
    margin: 0; /* Enlève les marges par défaut */
    font-size: 1.8em; /* taille de la police */
}

header nav {
    background-color: transparent;
    margin: 0;
    padding: 5px 0;
}

header nav li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

/* ================= Style burger ================= */

.photos {
    border: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
}

.photos img {
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Cacher la case à cocher */
.menu-toggle {
    display: none;
}

/* Responsive Menu Burger pour écran plus petit */
@media (max-width: 768px) {
    header nav {
        margin-left: 20px;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    main {
        margin-top: 20px;
    }
    .burger {
        display: block;
    }
    .nav_list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: rgb(171, 169, 169);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 80px;
        max-width: 300px;
    }
    .burger input:checked + .nav_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .burger input {
        display: none;
    }
    .burger label {
        display: block;
        cursor: pointer;
    }
    section {
        padding: 10px;
        font-size: 15px;
    }
    .chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .chat img {
        width: 90%;
        max-width: 300px;
        margin-bottom: 15px;
        height: auto;
    }
    .photos {
        justify-content: center;
    }
    .photo img {
        max-width: 100%;
    }
    footer{
        text-align: center;
        padding: 20px;
    }
    footer a {
        display: block;
    }
}

/* ================= Style pour le reste de la page ================= */

main {
    padding: 40px;
}

.chat_nom {
    font-weight: bold;
}

section {
    color: #37474F;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #b8f7bf; /* Bleu pastel */
    border: 1px solid #80DEEA; /* Bordure bleu clair */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    /* Réduction de la largeur des sections */
    max-width: 900px; /* Largeur maximale */
    width: 100%; /* Occupe 100% de l'espace jusqu'à la largeur max */
    margin: 20px auto; /* Centrage des sections avec espace en haut et bas */
}

/* Style des blocs chat avec image et texte côte à côte */
.chat {
    text-align: center;
}

.chat img {
    display: inline-block;
    margin: 0 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Donne un effet de cercle */
    object-fit: contain;
}

.chat p {
    color:#37474F;
    text-align: center, justify;
    margin: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#mignon_chat img {
    width: 30%; /* Chaque image prend 30% de la largeur du conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement */
    margin: 10px; /* Un petit espacement entre les images */
    border-radius: 8px; /* Pour arrondir les coins des images */
}

#mignon_chat {
    text-align: center; /* Centrer les images horizontalement */
}

#mignon_chat .humour {
    overflow: hidden;
}

/* ================= Style pour le footer ================= */

footer {
    position: sticky;
    bottom: 0;
    background-color: #5293c2;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #020c11;
    text-decoration: none;
}

footer p {
    margin: 0;
}

/* ================= Style du contact ================= */

form label {
    display: block;
    margin-top: 10px;
}

form input,
form textarea,
form button {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid rgb(197, 189, 189);
    border-radius: 5px;
}

form button {
    background-color: #E57373; /* Rouge clair */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 0;
}

form button:hover {
    background-color: rgb(225, 48, 108); /* Rose insta */
}

